.footer-section {
  background-color: #232f3e;
  color: white;
  font-size: 14px;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.amazon-logo-footer {
  width: 100px;
  object-fit: contain;
  background-color: #989696;;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.footer-links ul li {
  margin-bottom: 6px;
}

.language-selector,
.country-selector {
  background-color: #232f3e;
  color: white;
  padding: 6px 12px;
  border: 1px solid #555;
  border-radius: 3px;
  font-size: 14px;
}

.footer-extras {
  background-color: #131c28;
  color: #ccc;
  font-size: 13px;
}

.back-to-top {
  background-color: #37475a;
}

.back-to-top a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.back-to-top a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  background-color: #131c28;
}

.m-0{
  color: #bbbdc0;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-section .text-start {
    text-align: center !important;
  }

  .footer-bottom .language-selector,
  .footer-bottom .country-selector {
    display: block;
    margin: 5px auto;
  }

  .footer-extras .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer-extras .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}