.amazon-logo {
    width: 100px;
    object-fit: contain;
    background-color: #e6e2e2;
}

.no-underline {
  text-decoration: none;
}

@media (max-width: 768px) {
  .location {
    display: none !important;
  }

  .bottom-navbar span {
    font-size: 13px;
  }

  .btn-sm {
    padding: 4px 8px;
    font-size: 13px;
  }
}

  